@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

/*--------------------------------------------- Sitewide Styling*/

body {
	font-family: 'Roboto', sans-serif;
	margin-top: 56px;
	color: #fafafa;
	background: url('/static/images/question-trees.jpg') no-repeat center center fixed;
	background-size: cover;
}

.main-header {
    font-weight: 700;
}

/*--------------------------------------------- Nav Menu*/

nav {
	background-color: rgba(255, 50, 0, 0.45);
}

.navbar-dark .navbar-brand {
    font-weight: 700;
    transition: all 0.25s ease-in-out;
}

.navbar-dark .navbar-brand:hover {
    color: #00ff00;
    transition: all 0.25s ease-in-out;
}

/*--------------------------------------------- Body Core (Main Page Content)*/

#core {
	min-height: calc(100vh - 56px);
	padding-bottom: 56px;
}

.overlay {
	background: rgba(0, 0, 0, 0.75);
	height: 100%;
    min-height: 100vh;
    width: 100%;
    min-width: 350px;
    position: fixed;
    top: 0;
    left: 0;
}

.main-header {
    font-weight: 700;
    background: rgba(255,50,0, 0.45);
    border-radius: 0px 0px 20px 20px;
    width: 60%;
    margin: auto
}

.main-button,
.main-button:focus {
    border: none;
    background-color: rgba(255,50,0, 0.45);
    box-shadow: 0px 0px 10px rgba(255,50,0, 0.75);
    margin-top: 20px;
    height: 86px;
    border-radius: 20px;
    transition: all 0.25s ease-in-out;
}

.main-button:hover {
    border: none;
    background-color: rgba(40, 167, 69, 0.75);
    box-shadow: 0px 0px 10px rgba(40, 167, 69, 0.75);
    transition: all 0.25s ease-in-out;
}

#mainform {
    margin-top: calc(45vh - 142px);
}

/*--------------------------------------------- Footer CSS*/

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(255, 50, 0, 0.45);
	color: #fff;
	box-shadow: 0px 0px 6px rgba(255, 50, 0, 0.45);
}
footer .lead {
    padding: 0;
    margin: 0;
}

footer .lead a {
    text-decoration: none;
    font-weight: 700;
    color: #fafafa;
    transition: all 0.25s ease-in-out;
}

footer .lead a:hover {
    color: #00ff00;
    transition: all 0.25s ease-in-out;
}

footer .col {
	padding: 10px 0;
	margin: auto;
	max-height: 76px;
}

/*--------------------------------------------- Media Queries*/

@media (max-width: 768px) {
	.main-header {
	    width: 90%;
	}
	
	.display-3 {
	    font-size: 1.75rem;
	}
}

@media (max-width: 992px) {
	.main-header {
	    width: 60%;
	}
	
	.display-3 {
	    font-size: 3rem;
	}
}