{% extends 'base.html' %}

{% block core %}
<section class="row text-center">
    <div id="home-header" class="col">
        <h1 class="main-header display-3">Riddle Me This!</h1>
    </div>
</section>

<section class="row text-center">
    <div class="col-sm-6 offset-sm-3">
        
        <form method=POST action="/ready/" class="mainform">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="messages alert alert-danger" role="alert">
                          <strong>Error: </strong> {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <input id="username" class="form-control" type="text" name="username" placeholder="Enter your first name..."/>
            <button class="main-button btn btn-success btn-lg btn-block">Click to Play!</button>
        </form>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
<script type="text/javascript"></script>
{% endblock %}