{% extends 'base.html' %}

{% block core %}
<section class="row text-center">
    <div id="home-header" class="col">
        <h1 class="main-header display-3">Ready?</h1>
    </div>
</section>

<section class="row text-center">
    <div class="col">
        <div class="dark-div">
            <h1>Riddle {{ context.riddle_index }}:</h1>
            <form method="POST">
                <input type="hidden" name="riddle_index" id="riddle_index" value="{{ context.riddle_index }}">
                <button type="submit" class="main-button btn btn-success btn-lg btn-block">Go!</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}